@import '../_variables.scss';

.navbar {
    background-color: $gray;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.main {
    max-width: 50%;
    max-height: auto;
    margin: auto;
}